Source: wlanpi-usb-ethernet
Section: utils
Priority: optional
Maintainer: Jerry Olla <jerryolla@gmail.com>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13)

Package: wlanpi-usb-ethernet
Architecture: all
Depends: ${misc:Depends}
Description: Configure Raspberry Pi USB gadget functionality
 This package sets up USB Ethernet gadget mode for WLAN Pi.
