[Match]
Name=usb0

[Address]
Address=10.42.0.1/24
Scope=link

[Network]
DHCPServer=yes
LinkLocalAddressing=no
IPv6AcceptRA=no

[DHCPServer]
EmitRouter=no
PoolSize=50
