[Unit]
Description=USB Gadget Setup
Before=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/usb_otg_setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
